*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Public Sans', sans-serif;
    font-size: 18px;
}

:root{
    --Dark-Blue: hsl(233, 26%, 24%);
    --Lime-Green: hsl(136, 65%, 51%);
    --Bright-Cyan: hsl(192, 70%, 51%);
    --Grayish-Blue: hsl(233, 8%, 62%);
    --Light-Grayish-Blue: hsl(220, 16%, 96%);
    --Very-Light-Gray: hsl(0, 0%, 98%)  ;
    --White: hsl(0, 0%, 100%);

}

body,html{
    height: 100%;
    width: 100%;
}

header nav{
    z-index: 2;
    position: fixed;
    padding: 10px;
    display:  flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    width: 100%;
    height: 110px;
}

header nav button{
    background-color: transparent;
    outline: 0;
    border-style: none;
}

a.request_invite{
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 14px;
    color: var(--White) ;
    background-image: linear-gradient(var(--Lime-Green),var(--Bright-Cyan));
}

header nav ul li{
    list-style: none;
    padding: 0 30px;
    float: left;
}

header nav ul li a{
    color: var(--Grayish-Blue);
    text-decoration: none;
    padding-bottom: 20px;
}

header nav ul li a:hover{
    border-bottom: 5px solid var(--Lime-Green);
}

header nav .responsive_menu{
    display: none;
}

header .reponsive_menu_panel{
    display: none;
}
/* 
main{
    height: 100%;
} */

.next_generation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-wrap: nowrap;
}

.block_text{
    width: 50%;
}

.block_text h1{
    font-size: 62px;
    color: var(--Dark-Blue);
}
.block_text p{
    font-size: 20px;
    padding-bottom: 50px;
    color: var(--Grayish-Blue);
}

.image_bg_content_block{
    overflow: hidden;
    position: relative;
    display: flex;
    width: 50%;
    justify-content: center;
    background-size: cover;
}

.image_bg_content_block::before{
    display: flex;
    position: relative;
    top: -150px;
    left: 200px;
    content: url(./images/bg-intro-desktop.svg);
}

.image_bg_content_block img{
    z-index: 1;
    left: 70px;
    position: absolute;
    top: 0;
    overflow: hidden;
    background-position: right;
    background-size: cover
}

.why_choose_easybank{
    position: relative;
    padding: 100px;
    top: -250px;
    display: flex;
    background-color: var(--Light-Grayish-Blue);
    flex-direction: column;
}

.why_choose_easybank h1{
    font-size: 50px;
}

.why_choose_easybank p{
    font-size: 24px;
    width: 70%;
    padding-bottom: 40px;
}

.cards_block{
    display: flex;
}

.card h2{
    font-size: 25px;
    padding-bottom: 20px;
}

.card p{
    font-size: 22px;
}

.last_article{
    padding: 50px;
}

.last_article h1{
    font-size: 32px;
    padding-left: 20px;
    color: var(--Dark-Blue);
}

.articles_box{
    display: flex;
    justify-content: space-around;
}

.last_article article{
    padding: 20px;
    text-align: start;
    background-color: var(--Very-Light-Gray);
}

.last_article article img{
    width: 120%;
    height: 50%;
}

.last_article article span{
    padding: 10px;
    font-size: 16px;
    color: var(--Grayish-Blue);
}

.last_article article h2{
    padding: 10px;
}

.last_article article h2 a{
    font-size: 26px;
    text-decoration: none;
    color: var(--Dark-Blue);
}

.last_article article h2 a:hover{
    color: var(--Bright-Cyan);
}

.last_article article p{
    padding: 10px;
    font-size: 24px;
    color: var(--Grayish-Blue);
}

footer{
    background-color: var(--Dark-Blue);
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

footer section.first{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

footer section.first .logo{
    display: flex;
    align-items: center;
  
}

footer section.first .logo img{
    width: 200px;
}

footer section.first .logo span{ 
    font-size: 36px;
    position: relative;
    left: -150px;
    color: white;
}

footer section.first ul li{
    padding: 10px;
    list-style: none;
    float: left;
}


footer section.info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

footer section.info a{
    padding: 10px;
    text-decoration: none;
    color: var(--White);
}

footer section.last{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

footer section.last button{
    border-style: none;
    outline: 0;
    background-color: transparent;
}

footer section.last span{
    color: var(--Very-Light-Gray);
}


@media( max-height:430px){
    .last_article{
        padding: 20px;
    }

    .last_article article h2 a {
        font-size: 14px;
    }
}

@media(max-width:1300px){
    .request_invite{
        padding: 10px;
        font-size: 17px;
    }
    .last_article article p{
        font-size: 20px;
    }
}

@media(max-width:1000px){
    a.request_invite{
        padding: 10px 20px;
    }

    .why_choose_easybank{
        padding: 10px;
    }
    .card{
        width: 25%;
        padding: 10px;
    }
    .last_article article{
    padding: 10px;
    }

    .last_article article span{
        font-size: 10px;
    }

    .last_article article h2 a{
        font-size: 20px;
    }
    .last_article article p{
        font-size: 15px;
    }

    footer{
        flex-wrap: nowrap;
        padding: 0;
    }
}

@media(max-width:900px){
    header nav{
        height: 70px;
    }

    header nav ul{
        display: none;
    }

    header nav button a.request_invite{
        display: none;
    }

    header nav .responsive_menu{
        display: block;
    }
    header .reponsive_menu_panel{
        display: none;
        background-color: var(--White);
        padding: 20px;
        position: fixed;
        top: 65px;
        left: 50%;
        width: 300px;
        z-index: 2;
    }
    .reponsive_menu_panel ul li{
        text-align: center;
        list-style: none;
        padding: 10px;
    }

    .reponsive_menu_panel ul li a{
        text-decoration: none;
        color: var(--Dark-Blue);
    }
    .last_article article p {
        font-size: 13px;
        padding: 0 10px;
    }
    footer section.first .logo {
        display: none;
    }
}

@media (max-width: 800px){
    .last_article article h2 {
        padding: 0px;
    }
    .last_article article h2 a {
        font-size: 14px;
        padding: 0;
    }
    .last_article article p {
    font-size: 10px;
    padding: 0;
    }
}

@media(max-width:600px){
    header nav{
        width: 100vw;
    }
    header .reponsive_menu_panel{
        left: 10%;
    }

    .next_generation{
        flex-direction: column-reverse;
        width: 100%;
    }
    .block_text{
        width: 100%;
        padding-bottom: 400px;
    }
    .block_text h1{
        font-size: 45px;
    }

    .image_bg_content_block{
        width: 100vw;
    }
    .image_bg_content_block img{
        width: 70vw;
        top: 75px;
        left:calc(21vw/2);;
    }
    .image_bg_content_block::before{
        width: 100%;
        content: url(./images/bg-intro-mobile.svg);
        top: 0;
        left: 0;
    }

    .why_choose_easybank{
        width: 100%;
        text-align: center;
    }

    .why_choose_easybank p{
        width:100% ;
    }
    .cards_block{
        flex-direction: column;
    }
    .card{
        width: 100%;
        padding: 0;
        text-align: center;
    }
    .card p{
        width: 100%;
    }
    .last_article{
        width: 100vw;
        padding: 10px;
    }
    .articles_box{
        flex-direction: column;
        padding: 0;
    }

    .articles_box article img{
        width: 90vw ;
    }
    footer{
        width: 100vw;
        flex-direction: column;
    }
    footer section.first{
        align-items: center;
    }
    footer section.first .logo{
        justify-content: center;
        position: relative;
    }
    footer section.info{
        text-align: center;
        padding: 10px 0;
    } 
    footer section.info a{
        font-size: 13px;
    }

    footer section.last{
        text-align: center;
        padding: 50px;
    }
    footer section.last span{
        padding-top: 20px;
        font-size: 12px;
    }
}

@media(max-width:400px){
    .block_text h1 {
        font-size: 35px;
        text-align: center;
    }
    .block_text p {
        text-align: center;
    }
    .card{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .why_choose_easybank p {
        width: 80%;
        
        text-align: center;
    }

}

@media( max-height:430px){
    .block_text h1 {
        font-size: 40px;
    }

    .block_text p {
        font-size: 16px;
    }

    .why_choose_easybank h1 {
        font-size: 40px;
    }

    .why_choose_easybank p {
        font-size: 20px;
        width: 100%;
    }

    .last_article h1 {
        font-size: 26px;
    }
    .last_article{
        padding: 20px;
    }

    .last_article article h2{
        padding: 0;
    }
    .last_article article h2 a {
        font-size: 13px;
    }

    .last_article article p {
        font-size: 11px;
        padding: 0;
    }

    footer{
        width: 100%;
        flex-wrap: wrap;
    }
}